doctype html
<!--[if lt IE 7 ]> <html id="ie6" lang="en" class="no-js"> <![endif]-->
<!--[if IE 7 ]>    <html id="ie7" lang="en" class="no-js"> <![endif]-->
<!--[if IE 8 ]>    <html id="ie8" lang="en" class="no-js"> <![endif]-->
<!--[if IE 9 ]>    <html id="ie9" lang="en" class="no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

head

  <!-- Google Tag Manager -->
  //
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GOOGLE_TAG_MANAGER_ID');
  <!-- End Google Tag Manager -->

  title=htmlWebpackPlugin.options.title
  meta(name="description", content=htmlWebpackPlugin.options.description)
  meta(charset="utf-8")
  meta(http-equiv="content-type" content="text/html; charset=utf-8")

  meta(http-equiv="x-ua-compatible", content="ie=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1")
  meta(name="apple-mobile-web-app-title", content=htmlWebpackPlugin.options.title)
  meta(name="apple-mobile-web-app-capable", content="yes")
  meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
  
  meta(property='og:site_name', content=htmlWebpackPlugin.options.title)
  meta(property='og:url', content='')
  meta(property='og:title', content=htmlWebpackPlugin.options.title)
  meta(property='og:type', content='website')
  meta(property='og:description', content=htmlWebpackPlugin.options.description)
  meta(property='og:image', content=htmlWebpackPlugin.options.image)

  meta(name='twitter:site', content='')
  meta(name='twitter:card', content='summary')
  meta(name='twitter:title', content=htmlWebpackPlugin.options.title)
  meta(name='twitter:description', content=htmlWebpackPlugin.options.description)
  meta(name='twitter:image', content=htmlWebpackPlugin.options.image)



  //- link(rel="icon", href="/favicon.ico")

body


  <!--[if lt IE 10]>
  p.upgrade-ie
    | This version of Internet Explorer is no longer supported. Please upgrade to a <a href="https://www.microsoft.com/en-us/windows/microsoft-edge">newer version.
  <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!-->
  #app
  <!--<![endif]-->
